*{
  /*font-family: Roboto !important;*/
}
.sidenav {
  height: 100%;
  width: 235px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: url('../images/kal/img/wood-walnut-background-tile.jpg');
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  /*z-index: 40;*/
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  font-family: Roboto !important;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #fff;
  background: #7C4624;
}

.sidenav a:focus, .sidenav a:active {
  background: #451609;
  color: #fff;
}
#main {
  font-family: Roboto !important;
  transition: margin-left .5s;
  margin-left: 235px; 
  padding: 4px;
}
.sidenav #notificationbadge{
  position: relative;
  left: -15px;
  top: -13px;
}


.sidenav .dropdown-menu{
  background: #7C4624 !important;
  border: 2px solid #451609 !important;
  margin-right: -100px;
  margin-top: -90px;
  z-index: 1;
}

.sidenav .dropright{
  position: relative;
  display: inline-block;

}
.sidenav div.dropdown-menu a{
  font-size: 15px;
}
.sidenav div.dropdown-menu .dropdown-item:hover{
  background: #A69050;
}
/*#togglelink{
  position:absolute;
  font-size:20px;
  cursor:pointer;
}*/

#togglelink{
  position: absolute;
  width: 40px;
  height: 100%;
  padding: 3px 2px;
  cursor: pointer; 
}

#togglelink div{
  width: 20px;
  height: 2px;
  background: #4D1300 !important;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer; 
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 950px){
  #main { margin-left: 0px; }
  .sidenav {width: 0px;}
  /*#togglelink{ display: none; }*/
}
#postImgPrev{
  width: 60%;
}
#postImg{
  width: 100px;
  /*height: 80px;*/

}
#my_preview{
  /*border: 2px solid red;*/
  padding: 10px;
}
#my_preview img{
  width: 100px;
  height: 80px;
  padding: 2px;
  border: 1px dotted black;
}


.mykeep{
	width: 220px;
}
.conversation-text {
	position: relative;

}

.conversation-text .ctext-wrap {
 	font-size: 72%;  	
  width: 165px;
  background: #B3ECFF !important;
  color: #000;
  text-align: center;
  border-radius: 45% 0 45% 45%;
  position: absolute;
  z-index: 1;
  top: -15px;
}

.conversation-text .ctext-wrap::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -43px;
  border-width: 22px;
  border-style: solid;
  border-color: #B3ECFF transparent transparent #B3ECFF;
}
.uploadbtnwrapper{
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.mybtn{
  background: #3366FF;
  border: none;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  padding: 8px 20px;
}
.uploadbtnwrapper input[type='file']{
  /*font-size: 100px;*/
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.mynextrow{
	margin-top: 40px;
}
#forumrow a {
    text-decoration: none;
}
#forumrow a:hover {
    text-decoration: none;
}

#forumrow h6,
  #forumrow p{
    text-decoration: none;

}
#forumrow h6:hover,
  #forumrow p:hover{
    text-decoration: none;
}
#forumcard{
  background: #DBDDE0 !important; 
}

