body {
		background: #B3ECFF !important;
    color: #000 !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
		width: 100%;
    margin: 0;
}

/*This is the background image at the head section */
#headimg{
	background: url('../images/kal/img/Adirebanner.png') !important;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 23vh;
	width: 100%;
}

/*this are the rounded images in the header section in the background section that are animating themselves*/
#logoimages{
	width: 35vh;
	height: 23.5vh;
	position: relative;
	left: 17%;
	top: -2px;
	background: url('../images/kal/img/lion_head_4.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	animation: topimage 15s infinite;
} 
/*this is the animation section */
@keyframes topimage {
	0% {background: url('../images/kal/img/lion_head_1.png'); background-repeat: no-repeat; background-size: cover; background-position: center;}
	25% {background: url('../images/kal/img/lion_head_2.png'); background-repeat: no-repeat; background-size: cover; background-position: center;}
	50% {background: url('../images/kal/img/lion_head_3.png'); background-repeat: no-repeat; background-size: cover; background-position: center;}
	75% {background: url('../images/kal/img/lion_head_4.png'); background-repeat: no-repeat; background-size: cover; background-position: center;}
}

/*This is the topname {an image} called 'rom kalilu'*/
#imgname{
	height: 18vh;
	position: absolute;
	width: 49%;
	right: 24px;

}

#navbarimg{
	background: url('../images/kal/img/Adiremenubar.png');
	background-size: cover;
	background-position: center;
	border-bottom-left-radius: 130px;

}

nav .dropdown-menu{
	background: #0A243B !important;
	border: #4B1207 !important;
	/*margin-top: 10px;*/
}
nav .dropdown-item{
	color: #fff !important;
	/*font-size: 14px;*/
	/*letter-spacing: -1px;*/
}
nav .dropdown-item:hover, .dropdown-item:focus{
	background: #95C9FE !important;
	color: #0A243B !important;
}

nav .dropright{
	position: relative;
  display: inline-block;
}
nav .dropright .dropdown-toggle{
	width: 100%;
	padding-right: 100px; 
	/*background: #000;
	color: #fff;*/
}

nav .dropright.nav-link:hover{
	background: #95C9FE !important;
	color: #0A243B !important;
	padding: 0px auto;
}
nav .dropright-content{
 	display: none;
  position: absolute;
  left: 210px;
  top: -20px;
  background-color: #0A243B;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
/*  z-index: 1;*/
}
nav .dropright-content a {
  color: black;
  /*padding: 12px 16px;*/
  text-decoration: none;
  display: block;
}

nav .dropright-content a:hover {
	background-color: #95C9FE;
	color: #000 !important;
}

nav .dropright:hover .dropright-content {
    display: block;
}

#navline{
	background: #fff;
	width: 100%;
	height: 5px;
	position: relative;
	box-shadow: 1px 1px #000;
}
.mybutton{
	background: #E6F7FF !important;
	color: #000 !important;
}


.hidden-lg{
	display: none;
}

#mycol{
	height: 99%;
}

.greetingText{
	font-family: Brush Script MT;
	line-height: 115%;
}

/*this is the whole paragraph*/
#textone{
	color:#7030A0;
	font-size: 160%;
}

/*This is for the name*/
#texttwo{
	color:#825F08;
	font-size: 1.6em;
}

/*These are the other achievements texts*/
.otherText{ 
	font-family:'Times New Roman','serif';
	color:#4F6228;
	font-size: 8.5pt;
	font-weight: bold;
	margin-bottom: 0001pt;
	line-height: normal;
}

/*This is the width and height of newsboard for displaying news*/
#newsboard{
	background: url('../images/kal/images/shadow.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
}

/*This is the inside of the newsboard*/
#newsboardinside{
	height: 90%;
	width: 95%;
	overflow: hidden;
}

/*This is the width and height of each news pads*/
.newssingle{
	width: 95%;
	position: relative;
 -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 10s;/* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  -webkit-animation-timing-function: ease-in; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

/*For safari 4.0 - 8.0*/
@-webkit-keyframes example {
  0%   {left:0px; top:100px;}
  100% {left:0px; top:-300px;}
}
/* Standard syntax */
@keyframes example {
   0%   {left:0px; top:100px;}
   100% {left:0px; top:-300px;}
}

#manycarousels{
	border-bottom: 4px solid #fff !important;
}

a.classa{
	text-decoration: none;
}
a.classa:hover .card{
	border: 3px solid #ccc;
}

/*This is for the version of the index page lesser than 1000px*/
@media screen and (max-width: 1200px)and (min-width: 600px) {
	#textone{ font-size: 110%; }
	#newsboardinside{height: 83%;}
}

/*This is for the mobile version of the index page*/
@media screen and (max-width: 600px) {
	#navbarimg{position: relative; top: -1vh;}
	#topdate{font-size: 75%;}
	#textone{ font-size: 80%; }
	.nexticons{ position:relative; top: -10vh }
}

/*This is for the mobile screen lesser than 380px*/
@media screen and (max-width: 380px) {
	#topdate{ font-size: 50%; }
	.fcard{ font-size: 60%; }
	#newsboardinside{height: 83%; font-size: 70%;}
}

/*For safari 4.0 - 8.0*/
@-webkit-keyframes newcaro {
  0%   {left:0px; top:100px;}
  100% {left:0px; top:-300px;}
}
/* Standard syntax */
@keyframes newcaro {
   0%   {left:0px; top:100px;}
   100% {left:0px; top:-300px;}
}


.myForm {
  background-color: #EAEAEA;
  border: 2px solid #CCCCCC;
}

.myForm:focus   {
  background-color: white;
  border: 2px solid skyblue;
}

#myartsrow p{
	position: absolute;
	left: 0;

}

.cardprofile{
	overflow: hidden;
	height: 90%;
}

.cardsingle{
	width: 95%;
	position: relative;
 -webkit-animation-name: sampleone; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 15s;/* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  -webkit-animation-timing-function: ease-in; /* Safari 4.0 - 8.0 */
  animation-name: sampleone;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

/*For safari 4.0 - 8.0*/
@-webkit-keyframes sampleone {
  0%   {left:0px; top:100px;}
  100% {left:0px; top:-100px;}
}
/* Standard syntax */
@keyframes sampleone {
   0%   {left:0px; top:100px;}
   100% {left:0px; top:-100px;}
}


.cardsingletwo{
	width: 95%;
	position: relative;
 -webkit-animation-name: sampletwo; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 15s;/* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  -webkit-animation-timing-function: ease-in; /* Safari 4.0 - 8.0 */
  animation-name: sampletwo;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}
/*For safari 4.0 - 8.0*/
@-webkit-keyframes sampletwo {
  0%   {left:0px; top:100px;}
  100% {left:0px; top:-100px;}
}
/* Standard syntax */
@keyframes sampletwo {
   0%   {left:0px; top:100px;}
   100% {left:0px; top:-100px;}
}

.webinarpix{
	background: url('../images/kal/img/Adiremenubar.png');
	background-size: cover;
	background-position: center;
	border-bottom: 2px solid #ccc;
}
.webinar .webinarform{
	background: #E9EBEC !important;
	border-radius: 50px 0 50px 0; 
}

#resumepix{
	height: 35vh;

}
.resumerow img{
/*	position: absolute;
	left: 5vh;
	top: 0;
	border: 2px solid #fff;
	z-index: 1;*/
}
.resumerow{
	position: relative;
}

.footer{
	font-family: Lato;
	background: url('../images/kal/img/Adirebanner.png') !important;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.footer div{
	width: 95%;
	font-size: 80%;
	font-weight: bolder;
	text-shadow: 2px 2px #000;
}

.footer a{
	/*color: #E6F7FF;*/
	color: #B3ECFF;
	/*text-shadow: 1px 1px blue;*/
}
.footer a:hover, .footer a:focus{
	text-decoration: none;
}